<div style="position:relative; width: 1000px; margin: 0 auto;">
<br/>
  <% @stories.each do |story| %>
    <% if !story.inputs.empty? %>
      <% if story.complete %>
        <a href="/stories/<%= story.id %>" id="story-title-link"><h3 id="carousel-title" style="color:#00BCD4;"><%= story.inputs.first.caption %></h3></a>
    	<div id="carousel" class="slider multiple-items" >
    	  <% story.inputs.each do |input| %>
    	    <% if input.is_a?(Text) %>
    	      <div id="box">
    	    	  <p><%= input.caption %></p>
    	      </div>
    	    <% else %>
    	      <img src ="<%= input.image_path %>"/>
    	    <% end %>
    	  <% end %> 
    	</div>
        <p style="color: #777777; font-size: 16px; font-family: Arial;">Average Rating: <%= story.average_rating %> </p> 
      <% end %>  
    <% end %>
  <% end %>
</div>


